/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    width:100%;
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
/*edit by me!! digitigrafo.it lilithstudio.it*/
 /* ==========================================================================
   Author's custom styles: www.lilithstudio.it - kiki@digitigrafo.it
   ========================================================================== */


@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    font-family: Lato, Arial, sans-serif;
    text-transform: none !important;
}

a {
	color: #555;
	text-decoration: none;
}

 h1 {
	
	padding: 0 0 ;
	color: #333;
	margin: 0 1% 15px;
	text-align: left;
	text-shadow: 0 0 2px #fff;
}

ul {
    list-style: none outside none;
}
#bandellalink
{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:42px;
	z-index:1000;
	background:rgba(11,11,11,0.3);
}
 #bandellalink h2{
 	text-align:center !important;
 }  



.ui-controlgroup-label
{
	line-height:2 !important;
}
.multichoice
{
	margin:0 3em;
}
/*
#container {
	
    display: block;
    height: 100%;
    padding: 3em;
    padding-top: 0px;
    width: 990px;
    margin: -15px  auto 0px ;
	
    font-weight: 300;
    font-size: 0.9em;
    color: #333;
    overflow: hidden;
}*/
input,
select,
textarea {
    color: #222;
   margin: 5px;
}
 .ui-controlgroup-horizontal .ui-checkbox input, .ui-controlgroup-horizontal .ui-radio input {
    left: 50%;
    margin-left: -9px;
    visibility: hidden;
}
.ui-checkbox input, .ui-radio input
{
	 visibility: hidden;
}
.ui-radio-on {
    background: none repeat scroll 0 0 rgba(11, 11, 11, 0.3);
}   
hr{
	margin-top:2em !important;
	margin-bottom:2em !important;
}
.ui-btn:hover
{
	background: none repeat scroll 0 0 #373737;
    border-color: #1F1F1F;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #111111;
}
/*#risultati {
    background: none repeat scroll 0 0 #FFFFFF;
    z-index:1000;
} */
  .vignette
{
	margin:15px;
	
} 
/*  draggable*/
#drag
{
	line-height:2;
}
.draggable.ui-widget-content.ui-draggable {
    background: none repeat scroll 0 0 #444444;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.9em;
    height: 40px;
    padding-bottom: 17px;
    text-align: center;
    width: 40px;
}
.fintodroppable
    {display:inline-block; 
    width:40px ; 
    height:57px;
    font-size: 1.9em; 
    text-align: center;
   
    }
   
   .ui-widget-header.droppable
   {
   	display:inline-block;
   	width: 40px;
   	height: 40px;
   	text-align: center;
   	font-size: 1.9em; 
   	border: 1px solid #DDDDDD;
   	padding-bottom: 17px;
   }
.casella
{
	display:inline-block;
	width: 300px;
	margin:10px;
	text-indent: -16px;
}   
/*fine drag*/
  
	 
    /*stile tutto*/
   
.ui-input-text .small{
	width:20px !important;
	display:inline-block;
}
	
.hide
{
 display:none !important;	
}

.correggi
{
	margin: 10px auto;
	display:block;
}
#superato
{
	text-transform:uppercase;
	font-size:1.2em;
	text-align:center;
	margin:10px 0px;
}

.centertext
{text-align:center;
display: block;}

.correct{
	
    background-color: rgba(100, 252, 42, 1) !important; 
    background: rgba(100, 252, 42, 1)!important; 
}
.bottoni{
	width:260px;
	margin:0 auto;
}
.ui-dialog.ui-widget-content {
	
	width: 500px !important;
}
.ui-header-fixed {
    background: none repeat scroll 0 0 #FFFFFF;
   }
    
.bubblebig{
	
	background:rgba(11,11,11,0.3);
	text-transform:uppercase ;
	box-shadow: 2px 2px 5px 2px #555555;
	border-radius:0px 0px 25px 25px ;
	margin:0px, auto;
	width:200px;
	height:50px;
	text-align:center;
	font-size: 2em;
	padding-top: 10px;
    left: -100px;
    margin-left: 50%;
    margin-top: -15px;	
    position:relative;
}

.comando
{
	font-size:1.4em;
	padding-top: 10px;
	padding-bottom: 20px;
	font-weight: 600;
}

.questionEx {
    font-size: 1.1em;
    padding-bottom:30px;
}


.audio
{
	width:200px;
	position:relative;
	left:-100px;
	margin-left:50%;
}

.centrata
{
	margin:10px auto;
}

    .estratto
    {
    	font-style:italic;
    	background:#CCC;
    	box-shadow: 2px 2px 5px 2px #555555;
	border-radius:0px 0px 25px 25px ;
	padding: 15px;
	 text-shadow: none;
	 margin: 0 auto 30px;
    }
  /*special ex 2*/  
.foglio{
	background:white;
	box-shadow: 2px 2px 5px 2px #555555;
	padding: 15px;
	width: 200px;
	left: -100px;
    margin-left: 50%;
    padding: 15px;
    position: relative;
    margin-bottom:30px;
} 
   
  .cartello {
  	background:#FFFCD1;
	box-shadow: 2px 2px 5px 2px #555555;
    margin: 20px 0;
    text-align: center;
    transform: rotate(-2deg);
    width: 400px;
    left: -200px;
    padding: 15px;
    position:relative;
    margin-left: 50%;
    -webkit-transform: rotate(-2deg);
-moz-transform: rotate(-2deg);
-o-transform: rotate(-2deg);
-ms-transform: rotate(-2deg);
}    

.margine {
    border: 2px solid #999999;
    padding: 20px;
    	box-shadow: 2px 2px 5px 2px #555555;
}

/* forse inutili*/
.carta
{
	background-color: #fff; 
background-image: 
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
width:400px;	
}
.centrata.large input {
    width: 500px;
}
.small {
width:75px !important;

}
.medium
{
	width:350px !important;
}
.spaziata td{
    padding: 10px;
}
.ui-spinner
{
	width:40px !important;
	
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

